<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <%= image_tag group.icon, :size => "100x100" %>
  </p>

  <p>
    <strong>Total:</strong>
    $<%= group.total %>
  </p>
</div>
