<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <p>
      <%= link_to group_operations_path(group.id) do %>
        <%= render group %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
