<div class="splash-container">
  <div class="splash-logo-container">
    <div class="splash-logo">here goes the logo</div>
  </div>
  <div class="splash-options">
    <%= button_to 'Log In', new_user_session_path(), method: :get, data: { turbo: false }, class: "login-btn" %>
    <%= button_to 'Sign Up', new_user_registration_path(), method: :get, data: { turbo: false }, class: "signup-btn" %>
  </div>
</div>