/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= stub input.css
 *= require_tree .
 *= require_self
 */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: #3778c2;
  --second-bg-color: #5fb523;
  --text-color: #434b54;
  --headline-font: 'Montserrat';
  --text-font: 'Montserrat';
  --top-height: 32px;
}

ul,
li {
  list-style: none;
}

p {
  display: none;
}

.checks {
  border: none !important;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.checks label {
  width: calc(100% - 25px);
  margin-left: 4px;
}

.check-groups {
  overflow-y: auto;
  max-height: 108px;
  margin-top: 24px;
}

.check-groups > label:nth-child(1) {
  width: 100% !important;
  margin: 0;
  margin-top: -24px;
  position: fixed;
  z-index: 100;
}

.checks > input {
  width: unset !important;
}

a {
  -webkit-tap-highlight-color: transparent;
}

#notice {
  display: unset;
}
