<% if user_signed_in? %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false } %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>