<div class="card operation" id="<%= dom_id operation %>">
  <div class="data">
    <span class="card-text">
      <%= operation.name.capitalize %>
    </span>
    <span class="card-text">
      <small><%= operation.updated_at.to_date %></small>
    </span>
    <span>
      <strong>$<%= operation.amount %></strong>
    </span>
  </div>
</div>
