<div class="form">
  <div class="form-top">
    <%= link_to :back do %> < Cancel <% end %>
    <h1 class="form-title">New operation</h1>
  </div>
  <div class="form-view logged">
    <%= render "form", operation: @operation %>
  </div>
</div>
